{% extends 'base.html' %}

{% block title %}Pagina Primera{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md text-center">
    <!-- Imprimimos las variables que enviamos desde views.py -->
    <h1 class="text-3xl font-bold text-blue-600 mb-4">Prueba Lista Alumnos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in lista_alumnos %}
            <tr>
                <td>{{ alumno.rut }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono|default:"No registrado" }}</td>
                <td>{{ alumno.email|default:"No registrado" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-gray-700 mb-2"></p>
</div>
{% endblock %}