{% extends 'base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}

<!-- Contenedor principal del contenido -->
<div class="p-4">
    <!-- Encabezado -->
    <div class="flex items-end justify-between mb-4 px-1">
        <h1 class="text-2xl font-bold text-negro-texto">{{ page_title }}</h1>
        <span
            class="px-3.5 py-1 bg-celeste-claro text-azul-primario border border-azul-medio rounded-full text-sm font-semibold">
            {{ fecha_hoy|date:"d/m/Y" }}
        </span>
    </div>
    
    <!-- Dashboard -->
    {% include 'academico/components/dashboard-card.html' %}

    <!-- Tabla -->
    {% include 'academico/components/tabla.html' %}
</div>

{% endblock %}