{% load static %}
<!-- Encabezado -->
<div class="flex items-end justify-between mb-4 px-1">
    <h1 class="text-2xl font-bold text-negro-texto">Cursos</h1>
    <span
        class="px-3.5 py-1 bg-celeste-claro text-azul-primario border border-azul-medio rounded-full text-sm font-semibold">
        {{ fecha_hoy|date:"d/m/Y" }}
    </span>
</div>

<div class="bg-blanco-tarjeta border border-gris-claro rounded-xl shadow-sm p-4 lg:p-6 mb-6">
    <!-- Contenedor flex principal -->
    <div class="flex flex-col xl:flex-row xl:items-stretch xl:justify-between">

    </div>
</div>

<!-- Script JS para la animación de despliegue en mobile -->
<script>
    
</script>