<nav class="hidden shrink-0 border-r border-gris-claro h-full lg:sticky lg:top-6 lg:block lg:w-56">
    <ul class="space-y-1">
        {% include 'monitoreo/components/desktop-navbar-item.html' with label='Asistencia' seccion='asistencia' %}
        {% include 'monitoreo/components/desktop-navbar-item.html' with label='Alertas' seccion='alertas' %}
        {% include 'monitoreo/components/desktop-navbar-item.html' with label='Justificaciones' seccion='justificaciones' %}
        {% include 'monitoreo/components/desktop-navbar-item.html' with label='Actividad reciente' seccion='actividad_reciente' %}
    </ul>
</nav>