<div class="flex justify-between items-center gap-x-5 px-2 border-b border-gris-claro lg:hidden">
    {% include 'monitoreo/components/mobile-navbar-button.html' with label='Asistencia' seccion='asistencia' %}
    {% include 'monitoreo/components/mobile-navbar-button.html' with label='Alertas' seccion='alertas' %}
    {% include 'monitoreo/components/mobile-navbar-button.html' with label='Justificaciones' seccion='justificaciones' %}
    {% include 'monitoreo/components/mobile-navbar-button.html' with label='Actividad reciente' seccion='actividad_reciente' %}
</div>