{# Llamado: {% include 'academico/components/pastilla.html' with texto=texto color=color%} #}

<span
    class="px-3 py-1 text-sm font-bold rounded-full
        {% if color == 'verde' %}
            bg-verde-fondo text-verde-oscuro
        {% elif color == 'amarillo' %}
            bg-amarillo-fondo text-amarillo-oscuro
        {% elif color == 'rojo' %}
            bg-rojo-fondo text-rojo-oscuro
        {% else %}
            bg-azul-fondo text-azul-profundo
        {% endif %}">
    {{ texto }}
</span>

