<div class="mt-6 border rounded-lg border-gris-claro bg-blanco-tarjeta">
    {% include 'justificaciones/components/header-tabla.html' %}

    <!-- Contenedor de tarjetas -->
    <div class="border-t border-b border-gris-claro bg-blanco-tarjeta">
        {% if tarjetas %}
            <div class="px-2 py-3 grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
                {% for tarjeta in tarjetas %}
                    {% include 'justificaciones/components/tarjeta.html' with tarjeta=tarjeta %}
                {% endfor %}
            </div>
        {% else %}
            <div class="flex flex-col items-center gap-2 py-16 text-center text-gris-iconos">
                <i data-lucide="pencil-line" class="h-8 w-8"></i>
                <p class="font-medium">No hay justificaciones que mostrar</p>
            </div>
        {% endif %}
    </div>
    
    {% include 'justificaciones/components/footer-tabla.html' %}
    
</div>